.nav {
    margin-bottom: 25px;
    float:left;
}

.nav a {
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1px;
    padding: 25px 25px 25px 25px;
    vertical-align: middle;
    display: table-cell;
}

.nav a.active {
    box-shadow: inset 0px 0px 5px 0.25px #000000;
    text-align: center;
    color: #fff;
    background: orange;
}
.nav a.inactive {
    box-shadow: inset 0px 0px 5px 0.25px #000000;
    color: black;
    background: grey;
}